.t-Result
    padding-left 2em
    padding-right 2em
    padding-top 1em
    .t-Result-Panel
        padding-bottom 1em
        overflow-y auto
        .t-Result-Panel-Body
            textarea
                margin-top 1em
                width 100%
            .t-Result-Form-Search-Btn
                cursor pointer
            .t-Result-Tuples-Control-Panel
            .t-Result-Attributes-Control-Panel
                .list-group-item
                    padding 1px
                    margin-top 1em
    .t-Result-Iframe-Wrapper
        div[role="tabpanel"]
            .tab-content
                height 90%
                .t-Result-Table-Tab
                    padding 1em
                    .t-Result-Graph
                        width 100%
                        border 1px solid lightgray
                    .t-Result-Debug
                        height 100%
                        overflow-y auto
        .t-Result-Iframe
            width 100%
            height 100%
            border-left 1px solid rgb(221, 221, 221)
            border-right 1px solid rgb(221, 221, 221)
            border-bottom 1px solid rgb(221, 221, 221)
