html, body
    height 100%

.u-fill
    min-height 100%
    height 100%

.row
    &.no-gutter
        margin-left 0
        margin-right 0

.navbar
	margin-bottom 0 !important

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child)
    padding-right 0
    padding-left 0
